
.div-note {
	font-size: 10px;
	text-align: center;
	color: #333333;
}

.green {background: #27C24C;}
.red {background: #FF5E66;}
.blue {background:#3c8dbc;}
.centered {text-align:center;}
.template {display:none;visibility: hidden;}
.search-area {
    background: #888;
}

.panel {
    height: 350px;
    overflow: auto;
}

.default-height {
    height: 360px;
    overflow-y:auto;
}
.div-alert {
    margin: 20px;
    background: #F6FF5E;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
}


#div-pop-panel
{
    position: absolute; 
	visibility: hidden; 
	z-index:1000;
	top:100px; 
	left:300px; 
	width:300px; 
    border: 2px solid #39435C;
    padding:5px;
    border-radius: 8px;
    background: #39435C;
}

#div-pop-panel-header
{
    background: #AAAAAA;
    padding:8px;
    font-weight: 600;
    color:white;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#div-pop-panel-contents
{
    padding:8px;
}

#div-error-panel {
	position: absolute; 
	visibility: hidden; 
	z-index:1000;
	top:10%; 
	left:5%; 
	width:50%; 
	margin-left: 25%;
}

#div-error-header {
    padding: 10px;
    font-weight: bold;
	background: #FF7C99;
}

#div-error-msg {
	padding: 10px;
    color: white;
	background: #FF7C99;
}

#div-error-footer {
    padding:10px;
	color: white;
	background: #FF7C99;
}



#div-growl-panel {
	position: absolute; 
	visibility: hidden; 
	z-index:1000;
	top:10%; 
	left:5%; 
	width:50%; 
	margin-left: 25%;
}

#div-growl-header {
    padding: 10px;
    font-weight: bold;
	background: #A8AEFF;
}

#div-growl-msg {
	padding: 10px;
    color: white;
	background: #A8AEFF;
}

#div-growl-footer {
    padding:10px;
	color: white;
	background: #A8AEFF;
}

#div-side-alert {
    margin: 20px;
    background: #F6FF5E;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
}

.button
{
    background: #333;
    width: 80%;
    margin-left: 10%;
    margin-bottom:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 14px;
    text-align:center;
	color:white;
    border: 1px solid white;
}

.button-small
{
    display: inline-block;
    width: 100px;
    height: 25px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    color: white;
    border: 1px solid white;
}